[flake8]
ignore = W503, E203, E501, B101, B110
max-line-length = 120
# max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude = venv, build, dist, .eggs, __pycache__, testing/output
per-file-ignores =
    *_test.py:B101
    tests/*.py:B101
    conftest.py:B101