<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>JIRA Agile Metrics</title>

        <link rel="stylesheet" href="/static/bootstrap-4.1.1.css">
        <link href="/static/metrics.css" rel="stylesheet">
    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">JIRA Agile Metrics</a>
        </nav>

        <main role="main" class="container">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>